/* 
    General Styles
*/
.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .card {
    width: 286px;
    display: inline-block;
    margin-right: 10px; /* Espacio entre las tarjetas */
  }

  ul, li {
    list-style:none
}
.fa-heart {
    font-size: 2em;
    background-color: transparent;
    border: 1px, solid yellow;
}